/* .debug,
.debug * {
  border: 1px dashed red;
  padding: 5px;
  margin: 5px;
} */

body {
  font-family: "Ubuntu", sans-serif;
  padding-top: 76px;
}

@media (max-width: 279px) {
  body {
    padding-top: 100px;
  }
}
